/* The main header for the page */
div#header {
    width: 80%;
    margin: 0 auto 0 10%;
    position: absolute;
    top: 0;
    background-color: gray;
}

/* An invisible header that helps with stuff */
div#invisible-header {
    width: 80%;
    margin: 0 auto 0 10%;
    top: 0;
    visibility: hidden;
}

/* The main content of the page */
div#main {
    width: 80%;
    margin: 0 auto 0 10%;
}

/* Shared features of both headers */
div#header h1, div#invisible-header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

/* The horizontal navigation bar */
div#horiz-navbar {
    clear: both;
    padding-left: 0;
    text-align: center;
    display: inline;
    margin: .5em 5em 0 0;
}

/* links within the navbar */
div#horiz-navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 900;
    text-decoration: none;
    color: black;
    background-color: gray;
    display: inline-block;
    padding: .75em;
    margin-top: .25em;
}

div#horiz-navbar a:hover {
    background-color: lightslategray;
}

/* the div for the dropdown meny */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.dropdown-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 900;
    text-decoration: none;
    color: black;
    background-color: gray;
    display: inline-block;
    padding: .75em;
    border: none;
}

/* The stuff in the dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    z-index: 1;
}

/* Links within the dropdown menu */
.dropdown-content a {
    color: black;
    padding: .5em;
    text-decoration: none;
    display: block;
}

/* Change the color of links in the dropdown menu */
.dropdown-content a:hover {
    background-color: lightslategray;
}

/* Make the dropdown menu visible */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the color of the dropdown button on hover */
.dropdown:hover .dropdown-button {
    background-color: lightslategray;
}

/* h2 headings, used for page titles */
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.7em;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* For 'People' pages */
.headshot {
    display: block;
    float: left;
    width: 20%;
}
p {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    top: 0;
}
.person_descrip {
    display: block;
    width: 75%;
    float: left;
    margin: 0 0 0 1em;
}

.main-page-content {
    width: 73%;
    float: left;
}

.tweeter {
    width: 25%;
    float: right;
    margin-top: 1em;
}

.directory-person {
    border-bottom: 5px solid black;
}

.sponsor-box {
    border: 2px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    width: 24%;
    height: 100px;
}

.group-photo {
    border: 2px solid lightgray;
    text-align: center;
    float: left;
    width: 100%;
    height: 250px;
    margin-right: 1em;
    margin-bottom: 1em;
}